/*---------------------------global-----------------------------*/
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a,
h2,
h1 {
	text-decoration: none;
}

li {
	list-style: none;
}

/*---------------------------header+nav-----------------------------*/
header {
	width: 100%;
	height: 45px;
	background: #023643;
	display: flex;
}

header a {
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.logo-elements {
	display: flex;
	width: 200px;
	background-color: #023643;
	padding: 9px 0 0 15px;
}

.logo-elements a {
	padding-right: 10px;
	position: relative;
	font-size: 20px;
	cursor: pointer;
}

nav {
	width: 100%;
}

.my-nav a {
	padding: 15px 22px 0 12px;
}

.my-nav a:hover {
	border-bottom: 3px solid #fcac45;
}

.my-nav .icon {
	float: right;
	display: none;
}

.my-nav a:nth-child(5),
.my-nav a:nth-child(6) {
	float: right;
}

.my-nav a:nth-child(1),
.my-nav a:nth-child(2),
.my-nav a:nth-child(3),
.my-nav a:nth-child(4) {
	float: left;
}

/*---------------------------1st block-----------------------------*/
.block-1 {
	display: flex;
	width: 100%;
	height: 677px;
	max-height: 677px;
	background-color: #023643;
}

.text-block-1 {
	display: flex;
	width: 55%;
	height: 100%;
	margin-top: 150px;
}

.text-block-1 ul {
	width: 100%;
	padding-left: 107px;
}

.text-block-1 li {
	padding-bottom: 20px;
}

.text-block-1 h1 {
	color: white;
	font-size: 48px;
	font-weight: bold;
}

.text-block-1 li:nth-child(2) {
	color: #b5f4fd;
	font-size: 24px;
	margin-bottom: 10px;
}

.new-post {
	color: #b5f4fd;
	font-size: 18px;
}

.text-block-1 .button-1 {
	display: flex;
	background-color: white;
	width: 235px;
	height: 50px;
	border-radius: 4px;
}

.text-block-1 .button-1:hover {
	background-color: #D9E1E0;
}

.button-1 a {
	color: #023643;
	width: 100%;
	padding-top: 12px;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
}

.text-block-1 li:nth-child(3) {
	display: inline-block;
}

.text-block-1 li:nth-child(4) {
	margin-top: 5px;
	font-size: 18px;
	font-weight: bolder;
	color: #b5f4fd;
}

.hero-image-block {
	display: flex;
	position: absolute;
	right: 30px;
	width: 100%;
	max-width: 524px;
	max-height: 663px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #014655;
	float: right;
}

.hero-image {
	width: 100%;
	height: auto;
	transform: rotate(5deg);
}

/*---------------------------2d block-----------------------------*/
.block-2 {
	display: flex;
	flex-direction: column;
	background-color: #00576A;
}

.padding-text-block-2 {
	padding-left: 105px;
}

.head-text {
	position: relative;
	max-height: 165px;
	height: 165px;
	color: white;
	font-size: 20px;
}

.head-text h2 {
	position: absolute;
	bottom: 0;
}

.text-block-2 {
	height: 100px;
	color: #b5f4fd;
	padding-top: 35px;
	font-size: 18px;
}

.elements-2 {
	display: flex;
	flex-direction: column;
}

.elements-line-1,
.elements-line-2 {
	display: flex;
	height: 150px;
}

.element-block-1,
.element-block-3 {
	padding-left: 105px;
}

.element-block-1,
.element-block-2,
.element-block-3,
.element-block-4,
.element-block-5 {
	display: flex;
	flex-direction: column;
	width: 410px;
	color: white;
	font-size: 18px;
}

.icon-chat,
.icon-globus,
.icon-arrow,
.icon-shopping,
.icon-rozetka {
	position: relative;
	top: 15px;
	right: 20px;
}

.label-arrow a,
.icon-arrow {
	top: 5px;
	color: #b5f4fd;
	font-weight: bolder;
}

.button-2 {
	display: flex;
	border-radius: 4px;
	margin: 35px 0 40px 105px;
	height: 50px;
	background-color: white;
	width: 300px;
}

.button-2 a {
	color: #023643;
	width: 100%;
	padding-top: 12px;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
}

.button-2:hover {
	background-color: #D9E1E0;
}

.ans-block {
	margin-top: 50px;
	display: inline-flex;
	margin-left: 80px;
	flex-direction: column;
}

.ans-block-text {
	font-size: 22px;
}

.head-create-post-page {
	text-align: center;
	margin-top: 40px;
}

.head-block-1 {
	margin-top: 25px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.head-block-1 .input-title {
	width: 200px;
	width: 700px;
	height: 50px;
}

.input-textarea {
	height: 300px;
	width: 1500px;
	margin-top: 20px;
	overflow-y: scroll;
}

.create-post-input-button {
	margin-top: 5px; 
	border-radius: 5px;
	background-color: rgb(155, 155, 155);
	color: rgb(240, 240, 154);
	height: 33px;
	width: 315px;
}
.create-post-input-button:hover{
	background-color: black;
}
.single-post-title,
.post-title {
	text-align: center;
	margin-top: 30px;
}

.edit-post {
	text-align: right;
}

.edit-post a {
	color: black;
}

.edit-post a:hover {
	color: orange;
	font-weight: bolder;
}

.post-container {
	min-height: 330px;
	margin-top: 50px;
	margin-left: 150px;
}

.post-container a {
	font-size: 24px;
	color: black;
}

.post-container a:hover {
	border-bottom: 2px solid orange;
}

.single-ref {
	margin-bottom: 5px;
}

.single-post-main {
	display: flex;
	padding-left: 5%;
	padding-top: 10px;
}

.single-post-text {
	min-width: 65%;
	max-width: 65%;
}

.do-with-posts{
	display: flex;
	float: right;
}
.do-with-posts a{
	padding-right: 5px;
}

.login-form{
	position: absolute;
	top: 30%;
	margin-left: 400px;
	/* right: 40%; */
}
.login-main{
	min-height: 420px;
}
.login-submit-button{
	width: 150px;
}
.login-form input{
	border-color: #014655;
	border-radius: 5px;
	font-size: 20px;
	height: 60px;
	margin-left: 25px; 
}
/*---------------------------footer----------------------------------------*/
footer {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.list-pair-1,
.list-pair-2 {
	display: flex;
	width: 50%;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: bolder;
}

footer ul {
	margin-top: 30px;
	font-size: 13px;
	color: #023643;
}

footer li a {
	color: #5489b3;
}

/*-------------------------------------------------------------------*/

/*---------------------------media-----------------------------*/
@media screen and (max-width: 1200px) {
	.hero-image-block {
		height: 533px;
		width: 424px;
		top: 100px;
	}
}

@media screen and (max-width: 940px) {

	/*---------------------------header+nav media-----------------------------*/
	.my-nav a {
		display: none;
	}

	.my-header.active {
		height: 45px;
	}

	.my-nav.active {
		background-color: #023643;
		display: flex;
		position: relative;
		z-index: 1;
		flex-direction: column;
		float: right;
		height: 270px;
		width: 190px;
		border-left: 2px solid white;
		border-bottom: 2px solid white;
	}

	.my-nav.active a {

		display: block;
		text-align: left;
		color: white;
	}

	#menu {
		display: block;
		text-align: right;
		order: -1;
	}

	/*---------------------------1st block media-----------------------------*/
	.block-1 {
		flex-direction: column;
	}

	.text-block-1 {
		width: 100%;
	}

	.hero-image-block {
		position: relative;
		width: 220px;
		height: 300px;
		top: 0;
		bottom: 20px;
		left: 90px;
		right: 0;

	}

	.text-block-1 ul {
		padding-left: 0;
		text-align: center;
	}

	.text-block-1 {
		margin-top: 0;
	}

	/*-------------------fonts---------------*/
	.text-block-1 h1 {
		font-size: 36px;
	}

	.text-block-1 h1 {
		font-size: 36px;
	}

	.text-block-1 li:nth-child(2) {
		font-size: 18px;
	}

	/*---------------------------2st block media-----------------------------*/
	.padding-text-block-2 {
		padding-left: 25px;
	}

	.text-block-2 {
		height: 160px;
	}

	.elements-line-1 {
		display: table;
		margin: 0 auto;
		height: 300px;
	}

	.elements-line-2 {
		display: table;
		margin: 0 auto;
		height: 450px;
	}

	.element-block-1,
	.element-block-2,
	.element-block-3,
	.element-block-4,
	.element-block-5 {
		height: 150px;
		padding-left: 0;
	}

	.icon-chat,
	.icon-shopping,
	.icon-arrow,
	.icon-globus,
	.icon-rozetka,
	.label-chat,
	.label-rozetka,
	.label-shopping,
	.label-arrow,
	.label-globus {
		right: 0;
		display: table;
		margin: 0 auto;
	}

	.button-block-2 {
		display: table;
		margin: 0 auto;
	}

	.button-2 {
		position: relative;
		right: 50px;
	}

	footer {
		flex-direction: column;
		justify-content: flex-start;
	}

	.list-pair-1 {
		width: 100%;
		margin-bottom: 0;
	}

	.list-pair-2 {
		width: 100%;
	}

	.list-block-1,
	.list-block-2,
	.list-block-3,
	.list-block-4 {
		text-align: center;
	}
}

@media screen and (max-width: 1000px) {

	.element-block-3,
	.element-block-4 {
		min-width: 0;
	}
}

@media screen and (max-width: 480px) {
	.hero-image-block {
		height: 250px;
		width: 200px;
		left: 50px;
		top: 0;
	}
}